<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hemoo.aoifeMotan.dao.PasIndicatorMapper" >
  <resultMap id="BaseResultMap" type="org.hemoo.aoifeMotan.domain.PasIndicator" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="indicator_code" property="indicatorCode" jdbcType="VARCHAR" />
    <result column="branch_code" property="branchCode" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="annual_profit" property="annualProfit" jdbcType="DECIMAL" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, indicator_code, branch_code, year, annual_profit, delete_flag, create_by, create_time, 
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pas_indicator
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pas_indicator
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.hemoo.aoifeMotan.domain.PasIndicator" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pas_indicator (indicator_code, branch_code, year, 
      annual_profit, delete_flag, create_by, 
      create_time, update_by, update_time
      )
    values (#{indicatorCode,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, 
      #{annualProfit,jdbcType=DECIMAL}, #{deleteFlag,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.hemoo.aoifeMotan.domain.PasIndicator" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pas_indicator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indicatorCode != null" >
        indicator_code,
      </if>
      <if test="branchCode != null" >
        branch_code,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="annualProfit != null" >
        annual_profit,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indicatorCode != null" >
        #{indicatorCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null" >
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=INTEGER},
      </if>
      <if test="annualProfit != null" >
        #{annualProfit,jdbcType=DECIMAL},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hemoo.aoifeMotan.domain.PasIndicator" >
    update pas_indicator
    <set >
      <if test="indicatorCode != null" >
        indicator_code = #{indicatorCode,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null" >
        branch_code = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="annualProfit != null" >
        annual_profit = #{annualProfit,jdbcType=DECIMAL},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hemoo.aoifeMotan.domain.PasIndicator" >
    update pas_indicator
    set indicator_code = #{indicatorCode,jdbcType=VARCHAR},
      branch_code = #{branchCode,jdbcType=VARCHAR},
      year = #{year,jdbcType=INTEGER},
      annual_profit = #{annualProfit,jdbcType=DECIMAL},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>