<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hemoo.aoifeMotan.dao.PasPositionMapper" >
  <resultMap id="BaseResultMap" type="org.hemoo.aoifeMotan.domain.PasPosition" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="position_code" property="positionCode" jdbcType="VARCHAR" />
    <result column="position_name" property="positionName" jdbcType="VARCHAR" />
    <result column="position_type" property="positionType" jdbcType="VARCHAR" />
    <result column="serial_code" property="serialCode" jdbcType="VARCHAR" />
    <result column="rank_code" property="rankCode" jdbcType="VARCHAR" />
    <result column="salary_base_line" property="salaryBaseLine" jdbcType="DECIMAL" />
    <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL" />
    <result column="month_initial_point" property="monthInitialPoint" jdbcType="DECIMAL" />
    <result column="month_target_point" property="monthTargetPoint" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, position_code, position_name, position_type, serial_code, rank_code, salary_base_line, 
    exchange_rate, month_initial_point, month_target_point, remark, delete_flag, create_by, 
    create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pas_position
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pas_position
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.hemoo.aoifeMotan.domain.PasPosition" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pas_position (position_code, position_name, position_type, 
      serial_code, rank_code, salary_base_line, 
      exchange_rate, month_initial_point, month_target_point, 
      remark, delete_flag, create_by, 
      create_time, update_by, update_time
      )
    values (#{positionCode,jdbcType=VARCHAR}, #{positionName,jdbcType=VARCHAR}, #{positionType,jdbcType=VARCHAR}, 
      #{serialCode,jdbcType=VARCHAR}, #{rankCode,jdbcType=VARCHAR}, #{salaryBaseLine,jdbcType=DECIMAL}, 
      #{exchangeRate,jdbcType=DECIMAL}, #{monthInitialPoint,jdbcType=DECIMAL}, #{monthTargetPoint,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=TINYINT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.hemoo.aoifeMotan.domain.PasPosition" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pas_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="positionCode != null" >
        position_code,
      </if>
      <if test="positionName != null" >
        position_name,
      </if>
      <if test="positionType != null" >
        position_type,
      </if>
      <if test="serialCode != null" >
        serial_code,
      </if>
      <if test="rankCode != null" >
        rank_code,
      </if>
      <if test="salaryBaseLine != null" >
        salary_base_line,
      </if>
      <if test="exchangeRate != null" >
        exchange_rate,
      </if>
      <if test="monthInitialPoint != null" >
        month_initial_point,
      </if>
      <if test="monthTargetPoint != null" >
        month_target_point,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="positionCode != null" >
        #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="positionName != null" >
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionType != null" >
        #{positionType,jdbcType=VARCHAR},
      </if>
      <if test="serialCode != null" >
        #{serialCode,jdbcType=VARCHAR},
      </if>
      <if test="rankCode != null" >
        #{rankCode,jdbcType=VARCHAR},
      </if>
      <if test="salaryBaseLine != null" >
        #{salaryBaseLine,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRate != null" >
        #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="monthInitialPoint != null" >
        #{monthInitialPoint,jdbcType=DECIMAL},
      </if>
      <if test="monthTargetPoint != null" >
        #{monthTargetPoint,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hemoo.aoifeMotan.domain.PasPosition" >
    update pas_position
    <set >
      <if test="positionCode != null" >
        position_code = #{positionCode,jdbcType=VARCHAR},
      </if>
      <if test="positionName != null" >
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionType != null" >
        position_type = #{positionType,jdbcType=VARCHAR},
      </if>
      <if test="serialCode != null" >
        serial_code = #{serialCode,jdbcType=VARCHAR},
      </if>
      <if test="rankCode != null" >
        rank_code = #{rankCode,jdbcType=VARCHAR},
      </if>
      <if test="salaryBaseLine != null" >
        salary_base_line = #{salaryBaseLine,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRate != null" >
        exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="monthInitialPoint != null" >
        month_initial_point = #{monthInitialPoint,jdbcType=DECIMAL},
      </if>
      <if test="monthTargetPoint != null" >
        month_target_point = #{monthTargetPoint,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hemoo.aoifeMotan.domain.PasPosition" >
    update pas_position
    set position_code = #{positionCode,jdbcType=VARCHAR},
      position_name = #{positionName,jdbcType=VARCHAR},
      position_type = #{positionType,jdbcType=VARCHAR},
      serial_code = #{serialCode,jdbcType=VARCHAR},
      rank_code = #{rankCode,jdbcType=VARCHAR},
      salary_base_line = #{salaryBaseLine,jdbcType=DECIMAL},
      exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      month_initial_point = #{monthInitialPoint,jdbcType=DECIMAL},
      month_target_point = #{monthTargetPoint,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>